<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2015 Orba Sp. z o.o. (http://orba.pl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <payment>
            <orba_payupl>
                <active>0</active>
                <title>Payu.pl</title>
                <classic_api>1</classic_api>
                <order_status_new>pending_payment</order_status_new>
                <order_status_holded>holded</order_status_holded>
                <order_status_processing>processing</order_status_processing>
                <model>Orba\Payupl\Model\Payupl</model>
                <allowspecific>0</allowspecific>
            </orba_payupl>
        </payment>
    </default>
</config>
