<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2015 Orba Sp. z o.o. (http://orba.pl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <payment>
            <orba_payupl>
                <active>0</active>
                <title>Payu.pl</title>
                <order_status>pending_payment</order_status>
                <model>Orba\Payupl\Model\Payupl</model>
            </orba_payupl>
        </payment>
    </default>
</config>
