<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2015 Orba Sp. z o.o. (http://orba.pl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Orba\Payupl\Logger\Handler\Exception">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Orba\Payupl\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">orba_payupl</argument>
            <argument name="handlers" xsi:type="array">
                <item name="exception" xsi:type="object">Orba\Payupl\Logger\Handler\Exception</item>
                <item name="error" xsi:type="object">Orba\Payupl\Logger\Handler\Error</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Orba\Payupl\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">orba_payupl</argument>
        </arguments>
    </virtualType>
    <type name="Orba\Payupl\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Orba\Payupl\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Orba\Payupl\Model\Client\Classic\MethodCaller\SoapClient\Order">
        <arguments>
            <argument name="wsdl" xsi:type="string">https://secure.payu.com/paygw/webapi/Payments?wsdl</argument>
        </arguments>
    </type>
    <type name="Orba\Payupl\Model\Client\Classic\MethodCaller\SoapClient\Refund">
        <arguments>
            <argument name="wsdl" xsi:type="string">https://secure.payu.com/paygw/webapi/Refunds?wsdl</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="orba_payupl_checkout_model_paymentinformationmanagement" type="Orba\Payupl\Model\Checkout\PaymentInformationManagement\Plugin" sortOrder="1" />
    </type>
</config>