<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2015 Orba Sp. z o.o. (http://orba.pl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="orba_payupl" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ORBA | Payu.pl</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="classic_api" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Classic POS</label>
                    <comment>Set to No if you are using Checkout POS</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="sandbox" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>REST API Sandbox</label>
                    <comment>Set to Yes if you are using PayU Sandbox for testing purpose</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="classic_api">0</field>
                    </depends>
                </field>
                <field id="pos_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>POS ID (pos_id)</label>
                    <comment>Copy from your POS configuration in Payu.pl panel</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="key_md5" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key (MD5)</label>
                    <comment>Copy from your POS configuration in Payu.pl panel</comment>
                    <depends>
                        <field id="active">1</field>
                        <field id="classic_api">1</field>
                    </depends>
                </field>
                <field id="second_key_md5" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Second key (MD5)</label>
                    <comment>Copy from your POS configuration in Payu.pl panel</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="pos_auth_key" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment authorisation key (pos_auth_key)</label>
                    <comment>Copy from your POS configuration in Payu.pl panel</comment>
                    <depends>
                        <field id="active">1</field>
                        <field id="classic_api">1</field>
                    </depends>
                </field>
                <field id="order_status_new" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Payment Order Status</label>
                    <source_model>Orba\Payupl\Model\Config\Source\Order\Status\PendingPayment</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="order_status_holded" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Holded Payment Order Status</label>
                    <source_model>Orba\Payupl\Model\Config\Source\Order\Status\Holded</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="order_status_processing" translate="label" type="select" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Completed Payment Order Status</label>
                    <source_model>Orba\Payupl\Model\Config\Source\Order\Status\Processing</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="allowed_carriers" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Shipping Methods</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="paytypes_in_checkout" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paytypes in Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="classic_api">1</field>
                    </depends>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
